{% extends 'base.html.twig' %}

{% block title %}Hypnos | Inscription{% endblock %}

{% block content %}
    <main>
        <article>
            <h1 class="text-center">S'inscrire</h1>
            <div class="container col-xl-5 mt-4">
                {{ form(registrationForm) }}
            <span class="d-flex justify-content-center mt-3">Déjà inscrit ?<a class="text-success" href="{{ path('app_login') }}">Cliquez ici</a></span>
            </div>
        </article>
    </main>
{% endblock %}
