{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mot de passe | Groupe Hypnos{% endblock %}

{% block content %}
    <main>
        <article class="container mt-4">
            <h1 class="text-center">Réinitialiser mon mot de passe</h1>

            <section class="col-md-6 m-auto">
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-info">Réinitialiser mon mot de passe</button>
                {{ form_end(resetForm) }}
            </section>
        </article>
    </main>
{% endblock %}
