@font-face {
    font-family: 'Antique';
    src: url('./fonts/Antique-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Archane';
    src: url('./fonts/Archane.woff2') format('woff2');
}
.background-home{
    background: url("./img/homepage/img-homepage.webp") center;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
}
.background-end{
    background: url("./img/homepage/img-backgroundend.webp") center;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
}
.title-background{
    padding: 10px;
    backdrop-filter: brightness(40%);
}