@font-face {
    font-family: 'Antique';
    src: url('./fonts/Antique-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Archane';
    src: url('./fonts/Archane.woff2') format('woff2');
}
.background-home{
    background: url("./img/homepage/accueil5.jpg") center;
    background-size: cover;
    height: 450px;
    border-radius: 10px;}
.background-end{
    background: url("./img/homepage/accueil6.webp") center;
    background-size: cover;
    height: 450px;
    border-radius: 10px;
}
.title-background{
    padding: 10px;
    backdrop-filter: brightness(40%);
}
.contact{
    background: url("./img/homepage/contact.jpg") center;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
}
.card__img{
    height: 100%;
    min-height: 200px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    border-radius: 10px;
}
.cool{
    background-color: black;
}
.text-color{
    color: black;
    font-weight: bold;
}

header,footer{
    background-color: black;
}
