$green:   #FEEAA6 !default;
$cyan:    #DE9151 !default;
$gray-900: #333333 !default;
@import "bootstrap/scss/bootstrap";
@import "js-datepicker/src/datepicker";

body{
  font-family: 'Antique', sans-serif;
  color: white;
}
.title{
  font-family: 'Archane', sans-serif;
}

nav{
  background-color: black;
}